@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600&display=swap");

* {
  box-sizing: border-box;
  font-family: "Inter",sans-serif;
}

.app-container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app-container h1{
  font-weight: 604;
  font-size: 18px;
  color: #3498db;
  border-bottom: 1px solid #ccc;
  padding: 10px 0px;

}
.QrImage{
  padding: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-label{
  display: block;
  margin-bottom: 8px;
  color: #3498db;
  font-size: 15px;
  font-weight: 500;
}

input[type="text"]{
  padding: 12px;
  margin-bottom: 20px;
  width: 100%;
  font-size: 16px;
  border: 2.5px solid #3498db;
  border-radius: 5px;
}
input[type="number"]{
  padding: 12px;
  margin-bottom: 20px;
  width: 100%;
  font-size: 16px;
  border: 2.5px solid #3498db;
  border-radius: 5px;
}

button{
  padding: 15px 20px;
  font-size: 18px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.generate{
  background-color: #3499db ;
  
}
.generate:disabled{
  cursor: not-allowed;
  background-color: #bdc3c7;
  
}

.download{
background-color: #27ae60;
margin-left: 10px;
}

.download:hover{
  background-color: #219a52;
}

.footer{
  margin-top: 9px;
  margin-top: 10px;
  text-decoration: none;
  color: #3498db;
}
a{
  color: #219a52;
  text-decoration: none;
  
}